<h1>Editing dict</h1>

<%= error_messages_for :dict %>

<%= form_for(:dict, :url => dict_path(@dict), :html => { :method => :put }) do |f| %>
  <%= render :partial => 'form',:locals => { :f => f }%>
  <p>
    <%= submit_tag 'Update' %>
  </p>
<% end %>
<%= link_to 'Show', dict_path(@dict) %> |
<%= link_to 'Back', dicts_path %>
