<%= simple_form_for(:dict, :url => dicts_path, :html => { :method => :get }) do |f| %>
  <%= f.input :category, required: false %>
  <%= f.input :title, required: false %>
  <%= f.button :submit, 'search' %>
<% end %>

<%= link_to "New Dict", new_dict_path %>
<table class="table table-bordered">
  <tr>
    <% Dict.content_columns.each do |column| %>
      <th><%= column.human_name %></th>
    <% end %>
    <th colspan="3"></th>
  </tr>  
  <%= render @dicts %>
</table>

<%= will_paginate @dicts%>

