<% form_for(:person, :url => people_path, :html => { :method => :get }) do |f| %>

 Employee_number:<%= text_field("person", "employee_number") %>
 English_name:<%= text_field("person", "english_name") %>
 Chinese_name:<%= text_field("person", "chinese_name") %>
<%= submit_tag '查询' %>

<% end  %>
<hr/>
<%= link_to "New employee", new_person_path %>
<table>
  <tr>
    <th> Chinese Name</th>
    <th> English Name</th>
    <th> Employee number</th>
    <th> Department</th>
    <th> Position</th>
    <th colspan="3">OP</th>
  </tr>

  <% for person in @people %>
    <%= render :partial => 'item', :locals => { :person => person } %>
  <% end %>
</table>

<%= will_paginate @people%>
