<%= simple_form_for(:person, :url => people_path, :html => { :method => :get }) do |f| %>
  <%= f.input :employee_number, required: false %>
  <%= f.input :english_name, required: false %>
  <%= f.input :chinese_name, required: false %>
  <%= f.button :submit, '查询' %>
<% end  %>
<hr/>
<%= link_to "New employee", new_person_path %>
<table>
  <tr>
    <th> Chinese Name</th>
    <th> English Name</th>
    <th> Employee number</th>
    <th> Department</th>
    <th> Position</th>
    <th colspan="3">OP</th>
  </tr>
  <%= render @people %>
</table>

<%= will_paginate @people%>
