<fieldset>
  <% Person.content_columns.each do |column| %>
  <p>
    <b><%= column.human_name %>:</b><br>
    <%= @person.send(column.name) %>
  </p>
  <% end %>

  <p><label for="people_department_id">Department:</label><br/>
  <%=h @person.department.title unless @person.department.nil? %></p>

  <p><label for="people_status_id">State:</label><br/>
  <%=h @person.status.title unless @person.status.nil? %></p>
</fieldset>

<%= link_to 'Edit', edit_person_path(@person) %>
<%= link_to 'Back', people_path %>