
<fieldset>

  <p><label for="person_chinese_name">Chinese Name</label><br/>
  <%=h @person.chinese_name %></p>

  <p><label for="person_english_name">English Name</label><br/>
 <%=h @person.english_name %></p>

<p><label for="person_employee_number">Employee Number</label><br/>
 <%=h @person.employee_number %></p>

<p><label for="person_charge_rate">Charge Rate</label><br/>
 <%=h @person.charge_rate %></p>

<p><label for="person_employment_date">Employment Date</label><br/>
 <%=h @person.employment_date  %></p>

<p><label for="person_address">Address</label><br/>
  <%=h @person.address  %></p>

<p><label for="person_postalcode">Postalcode</label><br/>
  <%=h @person.postalcode  %></p>

<p><label for="person_mobile">Mobile</label><br/>
  <%=h @person.mobile  %></p>

<p><label for="person_tel">Tel</label><br/>
  <%=h @person.tel  %></p>

<p><label for="person_grade">Grade</label><br/>
  <%=h @person.grade  %></p>

<p><label for="person_gender">Gender</label><br/>
  <%=h @person.gender %>
</p>
<p><label for="Project_department_id">Department:</label><br/>
<%=h @person.department.title unless @person.department.nil? %>
</p>


<p><label for="Project_status_id">State:</label><br/>
<%=h @person.status.title unless @person.status.nil? %></p>
</fieldset>

<%= link_to 'Edit', edit_person_path(@person) %>
<%= link_to 'Back', people_path %>