
<% show_columns =["hours","ot_hours","desc"] %>
<tr id="item_<%= personalcharge.id %>" class="personalcharge_item">
  <!--td><%=h personalcharge.id %></td-->
  <td><%=  personalcharge.person.english_name unless personalcharge.person.nil?%></td>
  <td><%= check_box_tag "check_items[#{personalcharge.id}]", personalcharge.id if personalcharge.state == "pending" and permitted_to? :batch_actions,personalcharge %> <%=  personalcharge.period.number       unless personalcharge.period.nil? %></td>
  <td><%=  personalcharge.charge_date %></td>
  <td><%=  personalcharge.project.job_code    unless personalcharge.project.nil?%></td>


  <% for column in show_columns %>
    <td>
      <%= h personalcharge.send(column) %>
      <%= "("+ personalcharge.charge_date.to_date.strftime("%A")+")" \
        if column == 'charge_date' and !personalcharge.charge_date.blank?%>
    </td>
  <% end %>
    <td><%=h personalcharge.state.humanize %></td>
    <td><%= link_to 'Show', personalcharge_path(personalcharge) if permitted_to? :show, personalcharge %></td>

    <td><%= link_to 'Edit', edit_personalcharge_path(personalcharge)  if permitted_to? :edit, personalcharge %></td>
    <td>

        <%= button_to_remote "approval", :url=>approval_personalcharge_path(personalcharge), :confirm => 'Are you sure?', :method => :post if permitted_to? :approval, personalcharge %>
        <%= button_to_remote "disapproval", :url=>disapproval_personalcharge_path(personalcharge), :confirm => 'Are you sure?', :method => :post if permitted_to? :disapproval, personalcharge %>

    </td>
    <td>
      <%= button_to_remote 'Destroy',        
        :update=> 'personalcharges',
        :url=>personalcharge,        :confirm => 'Are you sure destroy this item?',
        :method => :delete if   permitted_to? :destroy, personalcharge %>

    </td>

</tr>
