
<table style="text-align: left">
  <tr>
    <td>
      <p>Project:
        <%= select_my_projects("", "prj_id") %>
      </p>
    </td>
    <td>
      <p>Person:
        <% if current_user.roles =="providence_breaker" %>
          <%= select_people("","person_id")  %>
        <% else %>
          <%= select("", "person_id", Person.my_teams(current_user).collect {|p| [ p.english_name, p.id ] }, { :include_blank => true }) %>
        <% end %>
      </p>
    </td>

    <td>
       <p>Period from:
        <%= select_period("","period_from") %>
        to:
        <%= select_period("","period_to") %>
      </p>
    </td>
    <td>
      <p>State:
        <%= select("", "state", ["pending","approved","disapproved","should_pay","paid"].collect {|p| [p,p] }, { :include_blank => true }) %>
      </p>
    </td>
    <td>
      I am:<%= select("", "role", ["Member","Manager","Director"].collect {|p| [p,p] }, { :include_blank => true }) %>
    </td>
    <td>
      <input type="submit" value="Search" />
    </td>


  </tr>
</table>
