<% form_for(:personalcharge, :url => personalcharges_path, :html => { :method => :get }) do |f| %>
<table style="text-align: left">
<tr>
  <td>
  <p>Project:
    <%= select("", "prj_id", Project.my_projects(current_user).collect {|p| [ p.job_code, p.id ] }, { :include_blank => true }) %>

  </p>
</td>
<td>
   <p>Person:
   <%= select("", "person_id", Person.my_teams(current_user).collect {|p| [ p.english_name, p.id ] }, { :include_blank => true }) %>

  </p>
</td>

<td>
  <p> Period from:
  <%= select("", "period_from", Period.find(:all,:order=>"number DESC").collect {|p| [ p.number, p.number ] }, { :include_blank => true }) %>

  </p>
</td>
<td>
  <p>to:
    <%= select("", "period_to", Period.find(:all,:order=>"number DESC").collect {|p| [ p.number, p.number ] }, { :include_blank => true }) %>
   </p>
</td>
<td>
   <p>State:
   <%= select("", "state", ["pending","approved","disapproved"].collect {|p| [p,p] }, { :include_blank => true }) %>

  </p>
</td>
<td>
 <input type="submit" value="Search" />
</td>


</tr>
</table>
<% end %>