
<table style="text-align: left">
  <tr>
    <td>
      <p>Project:
        <%= select_my_projects("", "prj_id") %>
      </p>
    </td>
    <td>
      <p>Person:
        <%= select("", "person_id", Person.my_teams(current_user).collect {|p| [ p.english_name, p.id ] }, { :include_blank => "All", :selected => current_user.person_id }) %>
      </p>
    </td>

    <td>
       <p>Period from:
        <%= select_period("","period_from") %>
        to:
        <%= select_period("","period_to") %>
      </p>
    </td>
    <td>
      <p>Status:
        <%= select("", "state", ["pending","approved","disapproved"].collect {|p| [p.humanize,p] }, { :include_blank => "All" }) %>
      </p>
    </td>

    <td>
      <input type="submit" value="Search" />
    </td>


  </tr>
</table>
