<h1>Listing personalcharges</h1>
<%= render :partial => "search" %>
<%= link_to 'New personalcharge', :action => 'new', :id=>params[:id], :person_id => params[:person_id]  %>
|<%= link_to 'Back', :controller =>'homepage' %>

<table>
  <tr>
    <th>Job code</th>
    <th>Employee name</th> 
    <th>Period</th>  
    <% for column in Personalcharge.content_columns %>
      <% if column.name != "created_on" and column.name != "updated_on"%>
        <th><%= column.human_name %></th>
      <% end %>
    <% end %>
    <th colspan="4">OP</th>
  </tr>

  <% for personalcharge in @personalcharges %>
    <% unless personalcharge.project.nil? %>
      <tr>
        <td><%=personalcharge.project.job_code %></td>
        <td><%=personalcharge.person.english_name %></td>
        <td><%=personalcharge.period.number unless personalcharge.period.nil?%></td>
        <% for column in Personalcharge.content_columns %>
          <% if column.name != "created_on" and column.name != "updated_on"%>
            <td <%= h("style='color:red;'") if personalcharge.hours.to_i>8 %>><%=h personalcharge.send(column.name) %></td>
          <% end %>
        <% end %>
        <% if (personalcharge.state != "approved" and personalcharge.project.state != "closed") %>
          <td>
            <% unless (Authorization.current_user.role_symbols.to_s == 'manager' and personalcharge.person_id == Authorization.current_user.person_id) %>
            <%= button_to "approval", approval_personalcharge_path(personalcharge), :confirm => 'Are you sure?' if personalcharge.state == 'pending' %>
            <%= button_to "disapproval", disapproval_personalcharge_path(personalcharge), :confirm => 'Are you sure?' if personalcharge.state == 'pending'%>
            <% end %>
          </td>
          <td><%= link_to 'Show', personalcharge_path(personalcharge) %></td>
          <td><%= link_to 'Edit', edit_personalcharge_path(personalcharge)  %></td>
          <td><%= link_to 'Destroy', personalcharge_path(personalcharge), :confirm => 'Are you sure?', :method => :delete%></td>
        <% else %>
          <td colspan="4"></td>
        <% end %>
      </tr>
    <% end %>
  <%end%>

</table>

<%= will_paginate @personalcharges %>
<br />