<%= render "search" %>
<%#= link_to 'Export data', :controller=>"reports", :action => "personalcharges_export"  %>||
<%= link_to 'New TimeCost', new_personalcharge_path  %>

<table  class="table table-bordered">
  <tr>
  	<th>Employee name</th>  
	  <th>Period</th>
    <th>Charge date</th>
    <th>Job code</th>
    <th>Hours</th>
    <th>Including OT hours</th>
    <th>Description</th>
    <th>State</th>
    <th colspan="4">Operations</th>
  </tr>
  <%= render @personalcharges %>
</table>

<%= button_to "Get OverTime", :url=> {:action=> "get_ot",:approved_personalcharges=> @approved_personalcharges, :effective_hours => @effective_hours}, :method =>:post,:update => "the-ot" %>

<div id="the-ot"></div>

<%= will_paginate @personalcharges %>