<h1>Show personalcharge</h1>
<span><strong>Job code</strong> : <%=@personalcharge.project.job_code if @personalcharge.project %></span><br/>

<span><strong>Employee</strong>:<%=@personalcharge.user.english_name if @personalcharge.user %></span><br/>

<span><strong>period</strong> : <%=@personalcharge.period.number if @personalcharge.period %></span><br/>
<hr/>
<% for column in Personalcharge.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @personalcharge.send(column.name)||"--" %>
</p>

<% end %>

<%= link_to 'Edit', edit_personalcharge_path(@personalcharge) %> |
<%= link_to 'Back', personalcharges_path %>


<% if @personalcharge.comments.any?	%>
	<h3>Disapproval description</3>
	<% @personalcharge.comments.each do |comment| %>
    <hr/>
    <p>
      <%= comment.created_at.strftime(" %m/%d/%Y") +"<br/>"  %>
      <%= User.find(comment.user_id).english_name + ": " + comment.comment %>
    </p>
  <% end %>
<% end %>