<h1><%= "#{t('show')}#{t('personalcharge')}" %></h1>
<strong><%= t('job_code') %></strong> : 
<%=@personalcharge.project.job_code if @personalcharge.project %><br/>

<strong><%= t('user') %></strong>:
<%=@personalcharge.user.english_name if @personalcharge.user %><br/>

<span><strong><%= t('period') %></strong> : 
<%=@personalcharge.period.number if @personalcharge.period %></span><br/>
<hr/>
<% for column in Personalcharge.content_columns %>
  <p>
    <b><%= t("#{column.name}") %>:</b> 
    <%= @personalcharge.send(column.name) %>
  </p>
<% end %>

<%= link_to t('edit'), edit_personalcharge_path(@personalcharge) %> |
<%= link_to t('back'), personalcharges_path %>

<h3><%= t('disapproved_desc') %></3>
<% @personalcharge.comments.each do |comment| %>
  <hr/>
  <p>
    <%= comment.created_at.strftime(" %m/%d/%Y") +"<br/>"  %>
    <%= comment.user.english_name + ": " + comment.comment %>
  </p>
<% end %>