<%= simple_form_for(@period) do |f| %>
  <div class="col-md-3">
    <%= f.input :number %>
  </div>
  <div class="col-md-3">
    <%= f.input :work_hours %>
  </div>
  <div class="col-md-3">
    <%= f.input :starting_date, as: :date %>
  </div>
  <div class="col-md-3">
    <%= f.input :ending_date, as: :date %>
  </div>
  <div class="col-md-12">
    <%= f.button :submit %>
  </div>
<% end %>