<p>
  <strong>Number</strong><br>
  <%= @period.number %>
</p>
<p>
  <strong>Work hours</strong><br>
  <%= @period.work_hours %>
</p>
<p>
  <strong>Starting date</strong><br>
  <%= @period.starting_date %>
</p>

<p>
  <strong>Ending date</strong><br>
  <%= @period.ending_date %>
</p>

<%= link_to 'Edit', edit_period_path(@period) %> |
<%= link_to 'Back', periods_path %>
