<p>
  <strong><%= t('period_number') %></strong><br>
  <%= @period.number %>
</p>
<p>
  <strong><%= t('work_hours') %></strong><br>
  <%= @period.work_hours %>
</p>
<p>
  <strong><%= t('starting_date') %></strong><br>
  <%= @period.starting_date %>
</p>

<p>
  <strong><%= t('ending_date') %></strong><br>
  <%= @period.ending_date %>
</p>

<%= link_to t('edit'), edit_period_path(@period) %> |
<%= link_to t('back'), periods_path %>
