<div id="user_bar">
	<% if user_signed_in? %>
		<%= link_to " |注销",destroy_user_session_path, :title => "log in"  %>
		<%= link_to " |欢迎，"+current_user.login+"!",current_user %>
		<%= link_to " |用户中心",current_user %>
		<%= link_to " |用户列表", users_path if controller_name == "users" and current_user.roles == 'providence_breaker'%>
		<%= link_to " |创建用户", signup_path, :title => "create an account"  if controller_name == "users" and current_user.roles == 'providence_breaker' %>
	<% else %>
		<%= link_to "登录",  new_user_session_path, :title => "log in"  %>
	<% end %>
</div>
