<!-- search -->
<%= search_form_for(@q) do |f| %>
  <%= f.input :employee_number_or_english_name_or_name_cont, as: :search %>
  <%= f.button :submit, '查询' %>
<% end %>
<!-- end of search -->

<table class="table table-bordered">
  <tbody>
    <tr>
      <th>帐号</th>
      <th>角色</th>
      <th>Chinese Name</th>
      <th>English Name</th>
      <th>Employee number</th>
      <th>Department</th>
      <th>Position</th>
      <th colspan="3">操作</th>
    </tr>
    <%= render @users %>
  </tbody>
</table>
<%= will_paginate @users%>

<div>
  <h3>check&amp; auto insert Self study</h3>
  <p>This action will check all working hours and auto refill SEF project by self study hours</p>
  <%= form_for(:admin, :url => {:action=>"auto_complete_hours"}, :html => { :method => :get }) do |f| %>
    <p>
      Period:<%= select("", "period_id", Period.find(:all,:order=>"number desc").collect {|p| [ p.number, p.id ] }, { :include_blank => false }) %>
      Project:
      <%= select("", "prj_id", Project.find(:all, :conditions=>"job_code like '%SEF%'").collect {|p| [ p.job_code, p.id ] }, { :include_blank => false }) %>
      Period hours: <%= text_field_tag "period_hours","0" %>
      <%= submit_tag '提交' %>
    </p>

  <% end %>
</div>
<hr/>
<div>
  <h3>check OT</h3>

  <%= form_for(:admin, :url => {:action=>"check_ot"}, :html => { :method => :get }) do |f| %>
    <p>
      Period:<%= select("", "period_id",
        Period.find(:all,:order=>"number desc").collect {|p| [ p.number, p.id ] }, { :include_blank => false }) %>
      Period hours: <%= text_field_tag "period_hours","0" %>
      <%= submit_tag '提交' %>
    </p>

  <% end %>
</div>