<!-- search -->
<%= search_form_for(@q, html: {class: 'form-inline'}) do |f| %>
  <%= f.input :employee_number_or_english_name_or_name_cont, 
              as: :search,
              label: t('employee_number_or_english_name_or_name_cont'),
              required: false %>
  <%= f.button :submit, t('search') %>
<% end %>
<!-- end of search -->

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@q, :login, t('login')) %></th>
      <th><%= sort_link(@q, :roles, t('role')) %></th>
      <th><%= sort_link(@q, :name, t('chinese_name')) %></th>
      <th><%= sort_link(@q, :english_name, t('english_name')) %></th>
      <th><%= sort_link(@q, :employee_number, t('employee_number')) %></th>
      <th><%= sort_link(@q, :department, t('department')) %></th>
      <th><%= sort_link(@q, :position, t('position')) %></th>
      <th colspan="3"><%= t('operations') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>
<%= will_paginate @users%>