<%= simple_nested_form_for(@client) do |f| %>
  <h2><%= t('client_info') %></h2>
  <%= f.input :client_code %>
  <%= f.input :chinese_name %>
  <%= f.input :english_name %>
  <%= f.input :user_id,     collection: User.selected_users %>

  <h2><%= t('contacts') %></h2>
  <%= f.fields_for :contacts %>
  <p><%= f.link_to_add t('add_a_contact'), :contacts %></p>
  
  <h2><%= t('general_info') %></h2>
  <%= f.input :industry_id, collection: Industry.selected_industries %>
  <%= f.input :category_id, collection: Dict.selected_categories %>
  <%= f.input :status_id,   collection: Dict.selected_statuses %>
  <%= f.input :region_id,   collection: Dict.selected_regions %>
  <%= f.button :submit %>
<% end %>