
<%= simple_nested_form_for(@client) do |f| %>

  <h2>Contact Information</h2>
  <hr>
  <%= f.input :client_code %>
  <%= f.input :chinese_name %>
  <%= f.input :english_name %>
  <%= f.input :person, collection: @account_owners.map {|a| ["#{a.english_name}--#{a.employee_number}", a.id]} %>

  <h2>Contacts</h2>
  <hr>
  <%= f.fields_for :contacts %>
  <p><%= f.link_to_add "Add a contact", :contacts %></p>
  
  <h2>General Informaiton</h2>
  <hr>
  <%= f.input :industry, collection: Industry.all.map {|i| ["#{i.code}||#{i.title}", i.id]} %>
  <%= f.input :category, collection: @categories.map {|d| ["#{d.code}||#{d.title}", d.id]} %>
  <%= f.input :status, collection: @statuses.map {|d| ["#{d.code}||#{d.title}", d.id]}%>
  <%= f.input :region, collection: @regions.map {|d| ["#{d.code}||#{d.title}", d.id]}%>
  <%= f.button :submit %>
<% end %>