
<%= simple_nested_form_for(@client) do |f| %>

  <h2>Contact Information</h2>
  <hr>
  <%= f.input :client_code %>
  <%= f.input :chinese_name %>
  <%= f.input :english_name %>
  <%= f.input :person_id, collection: @account_owners %>

  <h2>Contacts</h2>
  <hr>
  <%= f.fields_for :contacts %>
  <p><%= f.link_to_add "Add a contact", :contacts %></p>
  
  <h2>General Informaiton</h2>
  <hr>
  <%= f.input :industry_id, collection: @industries %>
  <%= f.input :category_id, collection: @categories %>
  <%= f.input :status_id, collection: @statuses %>
  <%= f.input :region_id, collection: @regions %>
  <%= f.button :submit %>
<% end %>