<h1>Listing clients</h1>

<% form_for(:client, :url => clients_path, :html => { :method => :get }) do |f| %>
  Client Code:<%= text_field("client", "client_code") %>
  Chinese Name:<%= text_field("client", "chinese_name") %>
  <input type="submit" value="Search" />
<% end %>
<table>
  <tr>

    <td>Chinese name</td>
    <td>English name</td>
    <td>Client code</td>
    <td>Account Owner</td>
    <!--show,edit,destroy-->
    <td></td>
    <td></td>
    <td></td>
  </tr>


  <% @clients.each do |client| %>
    <tr>
      <td><%=client.chinese_name%></td>
      <td><%=client.english_name%></td>
      <td><b><%=client.client_code%></b></td>
      <td><%=client.person.english_name unless client.person.blank?%></td>
      <td><%= link_to 'Show', client %></td>
      <td><%= link_to 'Edit', edit_client_path(client) %></td>
      <td><%= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @clients %>
<br />

<%= link_to 'New client', new_client_path %>