<h1>Listing clients</h1>

<%= simple_form_for(:client, :url => clients_path, :html => { :method => :get }) do |f| %>
  <%= f.input :client_code, required: false %>
  <%= f.input :chinese_name, required: false %>
  <%= f.button :submit, 'seach' %>
<% end %>
<table>
  <tr>
    <td>Chinese name</td>
    <td>English name</td>
    <td>Client code</td>
    <td>Account Owner</td>
    <th colspan="3"></th>
  </tr>
  <%= render @clients %>
</table>

<%= will_paginate @clients %>
<%= link_to 'New client', new_client_path %>