<p>
  <b>Id:</b>
  <%= @client.id %>
</p>
<p>
  <table class="table table-bordered">
    <tr>
      <td><b><%= t('client_code') %></b></td>
      <td><%=@client.client_code%></td>
    </tr>

    <tr>
      <td><b><%= t('chinese_name') %></b></td>
      <td><%= @client.chinese_name %></td>
    </tr>

    <tr>
      <td><b><%= t('english_name') %></b></td>
      <td><%= @client.english_name %></td>
    </tr>

    <tr>
      <td><b><%= t('account_owner') %></b></td>
      <td><%= @client.user.english_name if @client.user %></td>
    </tr>

    <tr>
      <th colspan=2><%= t('contacts') %></th>
    </tr>
    <%= render @client.contacts %>

    <tr>
      <th colspan=2><%= t('general_info') %></th>
    </tr>

    <tr>
      <td><b><%= t('client_category') %></b></td>
      <td><%= @client.category.title %></td>
    </tr>

    <tr>
      <td><b><%= t('client_status') %></b></td>
      <td><%= @client.status.title %></td>
    </tr>

    <tr>
      <td><b><%= t('client_region') %></b></td>
      <td><%= @client.region.title %></td>
    </tr>

    <tr>
      <td><b><%= t('client_industry') %></b></td>
      <td><%= @client.industry.title if @client.industry %></td>
    </tr>

    <tr>
      <td><b><%= t('last_modified') %></b></td>
      <td><%= @client.updated_on %></td>
    </tr>

  </table>
</p>

<%= link_to t('edit'), edit_client_path(@client) %> |
<%= link_to t('back'), clients_path %>