<p>
  <b>Id:</b>
  <%= @client.id %>
</p>
<p>
  <table>
    <tr>
      <td><b>client code</b></td>
      <td><%=@client.client_code%></td>
    </tr>

    <tr>
      <td><b>chinese name</b></td>
      <td><%= @client.chinese_name %></td>
    </tr>

    <tr>
      <td><b>English name</b></td>
      <td><%= @client.english_name %></td>
    </tr>

    <tr>
      <td><b>Account Owner</b></td>
      <td><%= User.find_by_person_id(@client.person_id).english_name if User.find_by_person_id(@client.person_id) %></td>
    </tr>

    <tr>
      <th colspan=2>Conctacts</th>
    </tr>
    <%= render @client.contacts %>

    <tr>
      <th colspan=2>General Information</th>
    </tr>

    <tr>
      <td><b>Client category</b></td>
      <td><%= @client.category.title %></td>
    </tr>

    <tr>
      <td><b>Client status</b></td>
      <td><%= @client.status.title %></td>
    </tr>

    <tr>
      <td><b>Client Region of origin</b></td>
      <td><%= @client.region.title %></td>
    </tr>

    <tr>
      <td><b>Industry</b></td>
      <td><%= @client.industry.title if @client.industry %></td>
    </tr>

    <tr>
      <td><b>Client code</b></td>
      <td><%= @client.client_code %></td>
    </tr>

    <tr>
      <td><b>Last modiffied</b></td>
      <td><%= @client.updated_on %></td>
    </tr>

  </table>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>