<%= simple_form_for(@project) do |f| %>
  <%= f.input :client_id, collection: Client.selected_clients %>
  <%= f.input :GMU_id,    collection: Dict.selected_gmus %>
  
  <%= f.input :service_id, collection: Dict.selected_service_codes %>
  <%= f.input :starting_date %>
  <%= f.input :ending_date %>
  <%= f.input :estimated_annual_fee %>
  <%= f.input :estimated_hours %>
  <%= f.input :budgeted_service_fee %>
  <%= f.input :budgeted_expense %>
  <p><strong>Manager:</strong></p>
  <%= @project.manager.nil?? select_employee("project", "manager_id") : @project.manager.english_name %>
  <%= f.input :description %><br>
  <%= f.button :submit %>
<% end %>
