<tr>
	<td><%= check_box_tag "check_items[#{project.id}]", project.id %></td>
	<td><b><%= project.job_code%></b></td>
	<td><%= project.created_on.to_date %></td>
	<td><%= project.client.english_name if project.client %></td>
	<td><%= project.manager.english_name if project.manager %></td>
	<td><%= truncate(project.description, length: 40) %></td>
	<td><%= project.state.humanize%></td>
	<td><%= link_to 'View', project %></td>
	<td><%= link_to 'Edit', edit_project_path(project) %></td>
	<td>
		<%= button_to 'Approval', approval_project_path(project), 
									confirm: check_message(project)+" are you sure approval?"%>
		<%= button_to 'Disapproval', 	disapproval_project_path(project), 
									confirm: check_message(project)+" are you sure disapproval?"%>
		<%= button_to 'Close', close_project_path(project), 
									confirm: 'Are you sure close?'%>
		<% if project.state =="closed" and current_user.roles == 'providence_breaker' %>
			<%= button_to 'ReOpen', close_project_path(project), 
									confirm: 'Are you sure reopen it ?' %>
		<% end %>
		<% if project.state =="approved" and  !Dict.get_forward(project.job_code).empty? %>
			<%= select("","select_zy_id",Project.where(state: 'approved').order("job_code").collect {|p| [ p.job_code, p.id ] }, { :include_blank => "Transfer to:" },{ :onChange=>"switch_form(this.value,'#{transform_project_path(project)}',#{project.id}); " })  %>
		<% end %>
		<% if current_user.roles == 'providence_breaker' and project.state =="pending" %>
			<%= button_to 'Destroy', 			project,
										:confirm => 'Are you sure destroy?', method: :delete %>
		<% end %>
	</td>
</tr>