<%= render :partial => "search" %>
<%= link_to "New Project", new_project_path %>
<form name="myform" action="projects/batch_actions" method="post">
	<%= render :partial => 'shared/all_op' %>
</form>
<table class="table table-bordered">
	<tr>
		<th></th>
		<th>Job code</th>
		<th>Created date</th>
		<th>Client name</th>
		<th>Job creator</th>
		<th>Description</th>
		<th>Job state</th>
		<th  colspan="3">OP</th>
	</tr>
	<%= render @projects %>
</table>
<%= will_paginate @projects %>