<%= render "search" %>
<%= link_to t('new_project'), new_project_path %>
<table class="table table-bordered">
	<tr>
		<th>ID</th>
		<th><%= t('job_code') %></th>
		<th><%= t('created_date') %></th>
		<th><%= t('client_name') %></th>
		<th><%= t('project_creator') %></th>
		<th><%= t('desc') %></th>
		<th><%= t('state') %></th>
		<th></th>
		<th colspan="3"><%= t('operations') %></th>
	</tr>
	<%= render @projects %>
</table>
<%= will_paginate @projects %>