<p>
  <strong>Job code</strong><br>
  <%= @project.job_code||"--" %>
</p>
<p>
  <strong>description</strong><br>
  <%= @project.description ||"--"%>
</p>
<p>
  <strong>Starting date</strong><br>
  <%= @project.starting_date %>
</p>
<p>
  <strong>Ending date</strong><br>
  <%= @project.ending_date %>
</p>
<p>
  <strong>Estimated annual fee</strong><br>
  <%= @project.estimated_annual_fee||0 %>
</p>
<p>
  <strong>Estimated hours</strong><br>
  <%= @project.estimated_hours ||0%>
</p>
<p>
  <strong>Bugegeted service fee</strong><br>
  <%= @project.budgeted_service_fee ||""%>
</p>
<p>
  <strong>Budgeted expense</strong><br>
  <%= @project.budgeted_expense ||""%>
</p>

<% if @project.state == "pending" or @project.state == "disapproved" %>
  <%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>
<%= link_to 'Back', projects_path %>

<!-- bookings -->
<% if current_user.id == @project.manager_id ||
      current_user.roles == 'providence_breaker' || 
      current_user.roles == 'hr_admin' %>
  <div>
    <% if @project.state !="closed" %>
      <!-- new booking -->
      <%= simple_form_for([@project, @booking]) do |f|%>
        <%  @booking.project_id = @project.id %>
        <%= f.input :user_id, collection: User.selected_users %>
        <%= f.input :hours %>
        <%= f.button :submit, "Add booking" %>
      <% end  %>
      <!-- end of new booking -->
    <% end  %>
    <%= button_to 'Booking all', bookall_project_bookings_path(project_id: @project), :confirm => "Are you sure booking all employees?" %>
    <!-- bookings list -->
    <table class="table table-bordered">
      <tr>
        <th>Person</th>
        <th>Rate</th>
        <th>Hours</th>
        <th>OP</th>
      </tr>
      <%= render @project.bookings %>
    </table>
  </div>
<% end  %>

<!-- comments -->
<h3>Disapproval description</3>
<% if @project.comments.any? %>
  <% @project.comments.each do |comment| %>
    <p><%= comment.created_at.to_date %><br/>
    <%= User.find(comment.user_id).english_name + ": " + comment.comment %></p>
  <% end %>
<% end %>