<%= simple_form_for(@billing) do |f| %>
  <div class="col-md-3">
    <%= f.input :project_id, collection: Project.all %>
  </div>
  <div class="col-md-3">
    <%= f.input :period_id, collection: Period.order(:number) %>
  </div>
  <div class="col-md-3">
    <%= f.input :user_id, collection: User.order(:english_name) %>
  </div>
  <div class="col-md-3">
    <%= f.input :number %>
  </div>
  <div class="col-md-3">
    <%= f.input :billing_date %>
  </div>
  <div class="col-md-3">
    <%= f.input :service_billing %>
  </div>
  <div class="col-md-3">
    <%= f.input :expense_billing %>
  </div>
  <div class="col-md-3">
    <%= f.input :days_of_ageing %>
  </div>
  <div class="col-md-3">
    <%= f.input :business_tax %>
  </div>
  <div class="col-md-3">
    <%= f.input :write_off %>
  </div>
  <div class="col-md-3">
    <%= f.input :provision %>
  </div>
  <div class="col-md-3">
    <%= f.input :status, collection: [["Outstanding","0"], ["Received", "1"]] %>
  </div>
  <div class="col-md-3">
    <%= f.input :collection_days %>
  </div>
  <div class="col-md-12">
    <%= f.button :submit %>
  </div>
<% end %>