<h1>Listing Billings</h1>
<%= simple_form_for(:billing, :url => billings_path, :html => { :method => :get }) do |f| %>

  <%= f.input :number %>
  <b>Project:</b><br/>
  <%= select_my_projects("billing", "project_id") %>
  <%= f.input :status, collection: [['all',''],['outstanding','outstanding'],['received','received']] %>
  <label for="period_starting_date">Starting date</label>
  <%= text_field 'period','starting_date', 'size'=>"15" %><br>
  <label for="period_ending_date">Ending date</label>
  <%= text_field 'period','ending_date', 'size'=>"15" %><br>
  <%= f.button :submit, 'Search' %>
<% end %>

<%= link_to "New Billing", new_billing_path %>
<table class="table table-bordered">
  <tr>
    <th>Job code</th>

    <% Billing.content_columns.each do |column| %>
      <% next if column.human_name =='Created on' or column.human_name =='Updated on'%>
      <th><%= column.human_name %></th>
    <% end %>
    <th colspan=3>Operations</th>
  </tr>

  <%= render @billings %>
</table>

<%= will_paginate @billings %>