<h1>Listing Billings</h1>


<% form_for(:billing, :url => billings_path, :html => { :method => :get }) do |f| %>
 <table>
    <tr>
      <td>
        <p>
          Billing number:<br/>
          <%= text_field("billing", "number") %>
        </p>
      </td>
      <td>
        <b>Project:</b><br/>
        <%= select("billing", "project_id",
          Project.my_projects(current_user).collect {|p| [ p.job_code, p.id ] }, { :include_blank => true }) %>

      </td>
      <td>
        <b>status:</b><br/>

        <select name="billing[status]">
          <%=  options_for_select([['all',''],['outstanding','outstanding'],['received','received']]) %>
        </select>

      </td>
      <td>
        <p><label for="period_starting_date">Starting date</label><br/>

          <%= text_field 'period','starting_date', 'size'=>"15" %>
          <input name="" type="button"
                 onclick="MyCalendar.SetDate(this,document.getElementById('period_starting_date'))" value="select" />
<%#= date_select 'period', 'starting_date'  %></p>


      </td>
      <td>
        <p><label for="period_ending_date">Ending date</label><br/>
          <%= text_field 'period','ending_date', 'size'=>"15" %>
          <input name="" type="button"
                 onclick="MyCalendar.SetDate(this,document.getElementById('period_ending_date'))" value="select" />
<%#= date_select 'period', 'ending_date'  %></p>

      </td>
      <td> <%= submit_tag 'Search' %></td>
    </tr>
  </table>
<% end %>

<%= link_to "New Billing", new_billing_path %>
<hr/>
<table>
  <tr>
    <th>Job code</th>

    <% for column in Billing.content_columns %>
      <% next if column.human_name =='Created on' or column.human_name =='Updated on'%>
      <th><%= column.human_name %></th>
    <% end %>
    <th colspan=3>-- </th>
  </tr>

  <% for billing in @billings %>
    <tr>
      <td><%=billing.project.job_code%></td>

      <% for column in Billing.content_columns %>
        <% next if column.human_name =='Created on' or column.human_name =='Updated on'%>
        <%if column.human_name =='Status'%>
          <td><%=h "outstanding" if billing.send(column.name).to_i == 0 %><%=h "received" if billing.send(column.name).to_i == 1 %></td>
        <% else %>
          <td nowrap><%=h billing.send(column.name) %></td>
        <% end %>
      <% end %>

      <td><%= link_to 'Show', :action => 'show', :id => billing %></td>
      <td><%= link_to 'Edit', :action => 'edit', :id => billing if billing.status == '0'%></td>
      <td><%= link_to 'Destroy', { :action => 'destroy', :id => billing,  :prj_id =>billing.project_id  },
          :confirm => 'Are you sure?', :post => true if billing.status == '0'%></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @billings %>
<br />
