<tr>
 <td><%=receive_amount.invoice_no%></td>
  <td><%=receive_amount.receive_date%></td>
  <td><%=receive_amount.receive_amount%></td>
  <td><%=receive_amount.billing.number%></td>
  <td><%=receive_amount.billing.user.english_name%></td>
  <td><%=receive_amount.billing.project.job_code%></td>
  <% if @billing.status !='1' %>
    <td><%= link_to 'Edit', edit_billing_receive_amount_path(id: receive_amount.id, billing_id: receive_amount.billing.id) %></td>
    <td><%= link_to 'Destroy', [receive_amount.billing, receive_amount], 
                    :confirm => 'Are you sure?', 
                    :method => :delete %></td>
  <% else %>
    <td colspan=3 ></td>
  <% end %>
</tr>