<tr>
  <td><%= expense.id %></td>
  <td><%= expense.charge_date %>(<%= expense.charge_date.to_date.strftime("%a") %>)</td>
  <td><%= expense.user.english_name if expense.user %></td>
  <td><%= expense.billable ? 'Billable' : 'Non-billable' %></td>
  <td><%= expense.expense_category %></td>
  <td><%= expense.project.client.english_name if expense.project %></td>
  <td><%= expense.project.job_code if expense.project %></td>
  <td><%= format("%.2f",expense.fee)%></td>
  <td><%= expense.state.humanize %></td>
  <td><%= link_to t('show'), expense %></td>
  <td><%= link_to t('edit'), edit_expense_path(expense) %></td>
  <td>
    <%= button_to t('approval'), approval_expense_path(expense), confirm: t('are_you_sure')  %>
    <%= button_to t('disapproval'), disapproval_expense_path(expense), confirm: t('are_you_sure') %>
		<%= select("","select_zy_id",Project.where(state: 'approved').order("job_code").collect {|p| [ p.job_code, p.id ] }, { :include_blank => "Transfer to:" },{ :onChange=>"switch_form(this.value,'#{transform_expense_path(expense)}',#{expense.id}); " }) if expense.state =="approved" and  !Dict.get_forward(expense.project.job_code).empty? %> 
    <%= button_to t('destroy'), expense, confirm: t('are_you_sure'), method: :delete %>
  </td>
</tr>
