<table><tr>
    <td>
      <label for="Expense_expense_category">Category:</label>
      <%= select("", "expense_category",
        Dict.expense_types.collect {|p| [ p.title, p.title ] }, { :include_blank => true }) %>

    </td>
    <td>
      Project:
      <%= select_my_projects("", "prj_id") %>

    </td>
    <td>
      <p>Person:
        <% if current_user.roles =="providence_breaker" %>
          <%= select_people("","person_id")  %>
        <% else %>
          <%= select("", "person_id", Person.my_teams(current_user).collect {|p| [ p.english_name, p.id ] }, { :include_blank => "All" }) %>
        <% end %>
      </p>

    </td>
  </tr>
  <tr>
    <td>
      Client Name:<%= text_field("", "client_name",{:size=>30})
    %>
    </td>

    <td>
      Date: from<%= text_field("","start_date",{:size=>10,:class=>'tcal'}) %> to<%= text_field("","end_date",{:size=>10,:onfocus=>"SelectDate(this,'yyyy-MM-dd')"}) %>
    </td>
    <td>
      <p>Status:
        <%= select("", "state", ["pending","approved","disapproved"].collect {|p| [p.humanize,p] }, { :include_blank => "All" }) %>
      </p>
    </td>
  </tr>
</table>

<%= submit_tag '查询' %>