<fieldset>
<p>
    <label for="Epxense_id">No.</label>
    <%=h @expense.id %>
  </p>
<p>
    <label for="Epxense_charge_date">Date</label>
    <%=h @expense.charge_date %>
  </p>
  <p>
    <label for="Epxense_person">Employee</label>
    <%=h @expense.user.english_name if @expense.user %>
  </p>
  <p>
    <label for="Epxense_desc">Description</label>
    <%=h @expense.desc %>
  </p>
  <p>
    <label>Billable</label>
    <%=h @expense.billable%>
  </p>
  <p>
    <label for="Epxense_type">Category</label>
    <%=h @expense.expense_category %>
  </p>
    <p>
    <label for="Epxense_client">Client Name</label>
    <%=h @expense.project.client.english_name if @expense.project %>
  </p>
    <p>
    <label for="Epxense_project_id">Project Code</label>
    <%=h @expense.project.job_code if @expense.project %>
  </p>
    <p>
    <label for="Epxense_fee">Amount</label>
    <%=h @expense.fee %>
  </p>
</fieldset>

<% if @expense.state !="approved" and @expense.user_id == current_user.id %>
  <%= link_to 'Edit', edit_expense_path(@expense)  %> |
<% end %>
<%= link_to 'Back', expenses_path %>

<h3>Disapproval description</3>

<% if @expense.comments.any? %>
  <% for comment in @expense.comments %>
    <p>
      <%= comment.created_at.to_date  %> <br/>
      <%= "#{comment.user.english_name} : #{comment.comment}" %>
    </p>
  <% end %>
<% end %>