
<%= form_tag('/reports/time_report', :method => :post) do %>
  <table>
    <tr>
      <td>
        <p><b>Job_code:</b><br>
          
          <%= select("personalcharge", "project_id",
            Project.find(:all,:conditions=>"state = 'approved'",
              :order=>'job_code').collect {|p| [ p.job_code, p.id ] }, { :include_blank => false }) %>
      </td>
      <td>
        <p><b>Period:</b><br>
          <%= select("personalcharge", "period_id",
            Period.find(:all,
              :order=>'number desc').collect {|p| [ p.number, p.id ] }, { :include_blank => false }) %>

        </p>
      </td>
      <td>
        <br>
        <input type="submit" value="REPORT" />
      </td>
    </tr>
  </table>
<% end  %>

<hr/>
<h3>Get personalcharges CSV files</h3>
<dl>
  <dt>Projects:<br/><%= form_tag('/reports/personalcharge_export', :method => :post) do %>
    <%= select("personalcharge", "project_id",
            Project.find(:all,
              :conditions=>"state = 'approved'",
              :order=>'job_code').collect {|p| [ p.job_code, p.id ] }, { :include_blank => true }) %>
  </dt>
  <dt>
periods:<br/><%= select("personalcharge", "period_id",
            Period.find(:all,
              :order=>'number desc').collect {|p| [ p.number, p.id ] }, { :include_blank => true}) %>
  </dt>
  <dt>
Manager:<br/><%= select("personalcharge", "person_id", Person.find(:all,:order=>"english_name",
    :include=>:status,:conditions=>"dicts.title = 'Employed'").collect {|p| [ p.english_name, p.id ] }, { :include_blank => true }) %>
  </dt>
</dl>
<input type="submit" value="export" />
<% end %>