<html>
  <head>
    <title><%=h(yield(:title)||controller.action_name)%></title>
    <%= stylesheet_link_tag 'application'%>

    <%= stylesheet_link_tag 'tablecloth','dropdown','themes' %>

    <%= javascript_include_tag :defaults,'webCalender','sdmenu'%>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--******************* Include the following sections in the head of year documents **********************-->
    <!--NodeFire API Script Reference [required for script enhanced menu control]-->
    <script type="text/javascript" src="/javascripts/nodefire.js"></script>

    <!--******************* End NodeFire head sections **********************-->
	<script   language=javascript>  
	function   switch_form(value,page,source_id){  
		if (confirm('Are you sure transfer all data to this project?')){
			document.myform.action= page+"?target_id="+value+"&source_id="+source_id;  

			document.myform.submit();
		}  
	}  
	</script>
    <%= yield(:head)%>
  </head>
  <body>
    <div id="banner">
      <%= render :partial => 'layouts/banner' %>

    </div>
    <div id="user_bar"><%= render :partial=>"users/user_bar"%></div>
    <div id="top_menu">
      <%= render:partial => 'layouts/topmenu' %>
    </div>
    <div id="main_area">
      <div style="clear: both"/>
<%#= render :partial => 'layouts/left' %>
      <div id="middle_area">

        <%- flash.each do |name,msg| -%>
          <%= content_tag :div, msg, :id =>"flash_#{name}" %>
        <%- end -%>

        <%- if show_title? -%>
          <h1><%=h yield(:title) %></h1>
        <%- end -%>

        <%= yield %>

      </div>
      <div id="right_area"></div>
    </div>
    <div id="footer">
      <%= render :partial => 'layouts/footer' %>
    </div>
  </body>
</html>
